* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

main {
    display: flex;
    /*flex-direction: column;*/
    flex-wrap: wrap;
}
p {
    line-height: 1.6;
    padding-bottom: 5%;
}
h1 {
    font-size: 60px;
    font-weight: 500;
    padding-bottom: 10%;
}
h2 {
    padding-bottom: 5%;
    font-size: 35px;
    font-weight: 500 ;    
}
h3 {
    font-size: 32px;
    font-weight: 500;
    padding-bottom: 2.5%;
}
h4 {
    padding-bottom: 7%;
    font-size: 16px;
    font-weight: 600 ;   
}
h5 {
    padding-bottom: 10%;
    font-size: 16px;
    font-weight: 600 ; 
}
a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}
ul {
    list-style: none;
    line-height: 1.8;
}
button {
    cursor: pointer;
}
header {
    width: 100vw;
    height: 100vh;
    /*background-color: rgb(120, 159, 194);*/
    background: url('./img/mastehead.jpg') no-repeat center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;   
}
nav {
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2.5% 5%;
}
.brandName {
    padding: 0 2%;
    font-style: italic;
    font-family:  serif;
    font-size: 25px;
    font-weight: 500;
}
header article {
    padding: 20% 10%;
    width: 50%;
}

#start {
    width: 100vw;
    /*background-color: indianred;*/
    padding: 15% 10% 0 10%;
}
#start p {
    color: gray;
}

#features {
    width: 100vw;
    /*background-color: lemonchiffon;*/
    padding: 10%;
    color: white;
}
#features h3 {
    
}
.box {
    padding: 11% 8%;
}
.boxrose {
    background-color: #f3979f;
}
.boxlavande {
    background-color: #605f7f;
}
.boxpolaire {
    background: url('./img/box-bg.jpg')no-repeat 1% 10%/100%;
}
.boxsun{
    background: url('./img/box-bg-lg.jpg')no-repeat 1% 10%/cover;
}
.boxturquoise {
    background-color: #84c99d;
}


#details {
    width: 100vw;
    /*background-color: darkcyan;*/
    padding: 10%;
}
#details p {
    color: grey;
}
#details h4 {
    color: rgb(107, 107, 107);
}

#power {
    width: 100vw;
    /*background-color: ivory;*/
    background: url('./img/full-image.jpg')no-repeat center/cover;
    padding: 10%;
    color: white;
}

#reasons {
    width: 100vw;
    background-color: #84c99d;
    padding: 10%;
    color: white;
}

#legacy {
    width: 100vw;
    /*background-color: rgb(78, 15, 25);*/
    padding: 10%;
}
#legacy h3 {
    padding: 10% 0 5% 0;
}
.btn_buy {
    background-color: #84c99d;
    border: none;
    padding: 15px 20px;
    color: white;
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;
    margin-bottom: 5%;
}
.logoOS {
    margin-bottom: 10%;
}
.gotitsolo {
    padding: 10% 0;
}
.taglegacy {
    display: inline;
    border-radius: 5px;
    padding: 13px 19px;
    background-color: #e2e2e2;
    color: white;
    font-weight: bold;
}
.tagmostpopular {
    display: inline;
    border-radius: 5px;
    padding: 2.3% 3% ;
    background-color: #bd8cbe;
    color: white;
    font-weight: bold;
}
.logoOS {
    display: flex;
    align-items: center;
    padding: 0 5px;
}
.logoOS img {
    width: 8%;
    padding-right: 5px;
}
.logoOS img:nth-child(1) {
    position: relative;
    left:-8px;
}
.logoOS img:nth-child(2) {
    position: relative;
    top: 4px;
}

footer {
    width: 100vw;
    background-color: #182432;
    padding: 10%;
    color: white;
}
.getintouch h4 {
    padding-bottom: 3%;
}
.getintouch p{
    padding-bottom: 5%;
}
.stayintouch {
    padding-bottom: 3%;
}
.searchbar {
    display: flex;
    justify-content: center;
}
.searchbar input {
    width: 83vw;
    height: 5vh;
    border: none;
    border-radius: 5px 0 0 5px;
}
.btn_validé {
    width: 10vw;
    color: white;
    background-color: #84c99d;
    border: none;
}
.spam_sentence {
    color: grey;
    font-size: 14px;
    padding-top: 1%;
}
.links {
    display: flex;
    flex-direction: row;
    justify-content:space-between
}

@media screen and (min-width: 640px) and (max-width: 1040px) {
    body {
        flex-direction: column;
    }
    .startSpeech, .boxdetails {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .startSpeech p {
        width: 50%;
        padding: 0 2% ;
    }
    .startSpeech p:nth-last-child(1) {
        padding-top: 20%;
        color: red;
    }

    #features {
        display: flex;
        flex-wrap: wrap;
    }
    .boxrose, .boxlavande, .boxpolaire, .boxsun {
        width: 50%;
    }
    .boxpolaire {
        background:url('./img/box-bg.jpg') no-repeat center/cover;
    }

    .boxdetails {
        display: flex;
        flex-wrap: wrap;
    }
    .web, .performance, .cultural, .sustainability {
        width: 50%;
        padding: 2%;
    }

    .morePower {
        width: 45%;
    }


}
