* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
}

main {
    display: flex;
    /*flex-direction: column;*/
    flex-wrap: wrap;
}
p {
    line-height: 1.4;
    padding-bottom: 5%;
}
h1 {
    font-size: 40px;
    font-weight: 500;
    padding-bottom: 10%;
    line-height: 1.2;
}
h2 {
    padding-bottom: 5%;
    font-size: 30px;
    font-weight: 500 ;    
}
h3 {
    font-size: 25px;
    font-weight: 500;
    padding-bottom: 2.5%;
}
h4 {
    padding-bottom: 7%;
    font-size: 16px;
    font-weight: 600 ;   
}
h5 {
    padding-bottom: 10%;
    font-size: 16px;
    font-weight: 600 ; 
}
a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}
ul {
    list-style: none;
    line-height: 1.8;
}
button {
    cursor: pointer;
}
header {
    width: 100vw;
    height: 100vh;
    /*background-color: rgb(120, 159, 194);*/
    background: url('./img/mastehead.jpg') no-repeat center/cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;   
}
nav {
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2.5% 5%;
}
.brandName {
    padding: 0 2%;
    font-style: italic;
    font-family:  serif;
    font-size: 25px;
    font-weight: 500;
}
header article {
    padding: 20% 10%;
    width: 70%;
}

#start {
    width: 100vw;
    /*background-color: indianred;*/
    padding: 15% 10% 0 10%;
}
#start p {
    color: gray;
}
#start img {
    display: none;
}

#features {
    width: 100vw;
    /*background-color: lemonchiffon;*/
    padding: 10%;
    color: white;
}
#features h3 {
    
}
.box {
    padding: 11% 8%;
}
.boxrose {
    background-color: #f3979f;
}
.boxlavande {
    background-color: #605f7f;
}
.boxpolaire {
    background: url('./img/box-bg.jpg')no-repeat left/cover;
}
.boxsun{
    background: url('./img/box-bg-lg.jpg')no-repeat left/cover;
}
.boxturquoise {
    background-color: #84c99d;
}


#details {
    width: 100vw;
    /*background-color: darkcyan;*/
    padding: 10%;
}
#details p {
    color: grey;
}
#details h4 {
    color: rgb(107, 107, 107);
}

#power {
    width: 100vw;
    /*background-color: ivory;*/
    background: url('./img/full-image.jpg')no-repeat center/cover;
    padding: 30% 10% 50% 10%;
    color: white;
}

#reasons {
    width: 100vw;
    background-color: #84c99d;
    padding: 10%;
    color: white;
}

#legacy {
    width: 100vw;
    background-color:#f4f8fb;
    padding: 10%;
}
#legacy h3 {
    padding: 10% 0 5% 0;
}
#legacy {
    color: gray;
}
.btn_buy {
    background-color: #84c99d;
    border: none;
    padding: 15px 20px;
    color: white;
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;
    margin-bottom: 5%;
}
.logoOS {
    margin-bottom: 10%;
}
.gotitsolo {
    padding: 10% 0;
}
.taglegacy {
    display: inline;
    border-radius: 5px;
    padding: 13px 19px;
    background-color: #e2e2e2;
    color: white;
    font-weight: bold;
}
.tagmostpopular {
    display: inline;
    border-radius: 5px;
    padding: 13px 19px;
    background-color: #bd8cbe;
    color: white;
    font-weight: bold;
}
.logoOS {
    display: flex;
    align-items: center;
    padding: 0 5px;
}
.logoOS img {
    width: 50px;
    padding-right: 5px;
}
.logoOS img:nth-child(1) {
    position: relative;
    left:-8px;
}
.logoOS img:nth-child(2) {
    position: relative;
    top: 4px;
}

footer {
    width: 100vw;
    background-color: #182432;
    padding: 10%;
    color: white;
}
.getintouch h4 {
    padding-bottom: 3%;
}
.getintouch p{
    padding-bottom: 5%;
}cover
.stayintouch {
    padding-bottom: 3%;
}
.searchbar {
    display: flex;
    justify-content: center;
}
.searchbar input {
    width: 83vw;
    height: 5vh;
    border: none;
    border-radius: 5px 0 0 5px;
}
.btn_validé {
    width: 10vw;
    color: white;
    background-color: #84c99d;
    border: none;
}
.spam_sentence {
    color: grey;
    font-size: 14px;
    padding-top: 1%;
}
.links {
    display: flex;
    flex-direction: row;
    justify-content:space-between
}

@media screen and (min-width: 640px) and (max-width: 1040px) {
    body {
        flex-direction: column;
    }
    h1 {
        font-size: 60px;
    }
    header article {
        padding: 0 10% 30% 10%;
        width: 55%;
    }
    .startSpeech, .boxdetails {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .startSpeech p {
        width: 50%;
        padding: 0 2% ;
    }
    .startSpeech p:nth-last-child(1) {
        padding-top: 20%;
        color: red;
    }
    #start img {
        display: none;
    }
    
    #details {
        padding: 5% 10% 17% 10%;
    }

    #features {
        display: flex;
        flex-wrap: wrap;
    }
    .boxrose, .boxlavande, .boxpolaire, .boxsun {
        width: 50%;
    }
    .boxpolaire {
        background:url('./img/box-bg.jpg') no-repeat right/cover;
    }
    .boxsun {
        background: url('./img/box-bg-lg.jpg') no-repeat -100px 0px/cover;
    }

    .boxdetails, .boxreasons, .boxlegacy{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    .web, .performance, .cultural, .sustainability {
        width: 50%;
        padding: 2%;
    }

    #power {
        background: url('./img/full-image.jpg') no-repeat left/cover;
    padding: 30% 10% 30% 10%;

    }
    .morePower {
        width: 55%;
    }

    #reasons {
        padding: 15% 10% 20% 10%;
    }
    .reasons_webbased, .reasons_teamlogin, .reasons_greatsupport {
        width: 32%;
        padding-left: 2%;
    }

    .gotitsolo, .teamPlan {
        width: 45%;
    }

}

@media screen and (min-width: 1040px)  {
    body {
        flex-direction: column;
    }
    h1 {
        font-size: 65px;
    }
    h2 {
        font-size: 40px;
    }
    .brandName {
        padding: 0 1%;
    }
    header { 
        background: url('./img/mastehead.jpg')no-repeat center/cover;
      
        
    }
    header h1 {
        padding-bottom: 1%;
    }
    header article {
        width: 60%;
        padding-left: 20%;
    }
    nav {
        padding: 1% 1%;
    }
    
    #start {
        padding: 10% 20% 6% 20%;   
    }
    #start img {
        display: block;
        position: absolute;
        top: 40%;
        left: 50%;
    }
    .startSpeech {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: nowrap; 
    }
    .startSpeech p {
        width: 50%;
        padding: 0 2% 0 0 ;
    }
    .startSpeech p:nth-last-child(1) {
        padding-top: 10%;
    }
    
    #features, #reasons, #legacy {
        padding: 5% 20%;
    }

    /* test */
    .grid-container {
        display: grid;
        grid-template-columns: (1fr 1fr 1fr);
        grid-template-rows: (1fr 1fr 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        }
        .boxrose { 
            height: 31vh;
            grid-area: 1 / 1 / 2 / 2; 
            padding: 15%;
        }
        .boxlavande { 
            padding: 15%;
            grid-area: 1 / 2 / 2 / 3; 
        }
        .boxpolaire{ 
            background: url('./img/box-bg.jpg') no-repeat right /cover; 
            padding: 15%;
            grid-area: 1 / 3 / 2 / 4;
        }
        .boxsun { 
            height: 30vh;
            padding: 8%;
        grid-area: 2 / 1 / 3 / 3; }
        .boxturquoise {
            padding: 15%;
        grid-area: 2 / 3 / 3 / 4; }
   
    #details {
        padding: 5% 20% 10% 20%;
    }
    #power {
        height: 100vh;
        padding: 10% 20%;
    }
    
    .boxdetails, .boxlegacy{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .web, .performance, .cultural, .sustainability  {
        width: 25%;
        padding-right: 2%;
    }

    .morePower {
        width: 50%;
        padding: 23% 0;
        line-height: 1.2;
    }
    .morePower h1 {
        padding-bottom: 6%;
    }

    .boxreasons, .boxlegacy {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
    }
    .reasons_webbased, .reasons_teamlogin, .reasons_greatsupport{
        width: 30%;
        padding-right: 2%;
    }
    #reasons {
        padding: 12% 20%;
 
    }
    #legacy {
        height: 90vh;
    }
    .teamPlan:hover, .gotitsolo:hover  {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        padding: 5%;
        background-color: white;
        margin: 0 5%;
    }

    footer {
        flex-wrap: wrap;
        display: flex;
        flex-direction: row;
      
    }
    .getintouch, .boxsearchbar, .links{
        width: 50%;
        padding: 0 5% 5% 0;
    }

   
   
    
}
