* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

}

main {
    display: flex;
    flex-wrap: wrap;

}

header {
    width: 100vw;
    height: 100vh;
    background-color: rgb(120, 159, 194);
}
nav {
    width: 100vw;
    display: flex;
    flex-direction: row;
    padding: 20px;
    background-color: coral;
}

#start {
    width: 100vw;
    background-color: indianred;
    padding: 5%;

}

#features {
    width: 100vw;
    background-color: lemonchiffon;
    padding: 5%;

}

#details {
    width: 100vw;
    background-color: darkcyan;
    padding: 5%;

}

#power {
    width: 100vw;
    background-color: ivory;
    padding: 5%;

}

#reasons {
    width: 100vw;
    height: 50vh;
    background-color: honeydew;
    padding: 5%;

}

#legacy {
    width: 100vw;
    background-color: lightpink;
    padding: 5%;

}

footer {
    width: 100vw;
    background-color: mediumturquoise;
    padding: 5%;

}